body {
    background: #eee;
}

.container {
    width: 1600px;
    background: white;
    margin: auto;
    padding-bottom: 0px;
}

.view-title {
    background: #f8f9fa;
    padding: 8px 0px 8px 12px;
    border-radius: 5px;
    font-weight: bold;
}


.button-container button {
    margin: 3px 4px 3px 4px;
    padding: 4px 6px 4px 6px;
    border: none;
    border-radius: 3px;
    background-color: #777777;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #111111;
}

.button-container button:active {
    background-color: #444444;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-left {
    flex: 1;
    max-width: 50%;
    padding: 0px 6px 0px 6px;
}

.col-right {
    flex: 1;
    max-width: 50%;
    padding: 0px 6px 0px 6px;
}

.col-full {
    flex: 1;
    max-width: 100%;
    padding: 0px 6px 0px 6px;
}

.countries {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 0.5px;
}
.rent-location {
    fill: blue;
    opacity: 0.7;
}
.return-location {
    fill: red;
    opacity: 0.7;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#map-view {
    height: 800px;
}

#usage-patterns-view{
    height: 370px;
}

#demography-view {
    height: 370px;
}

#bar-chart,
#heatmap {
    height: 370px;
}

#mosaic-plot {
    height: 370px;
}

#legend {
    position: absolute;
    left: 48.5%;
    top: 10px;
    width: 50%; 
    height: 55px; 
    background-color: white;  
    padding: 10px 0px 0px 0px;  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    z-index: 1000;
}

#map-btn {
    position: absolute;
    left: 47.4%;
    bottom: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
